:local(.container) {
    display: flex;
    justify-content: space-between;
}
:local(h2) {
    width: 152px;
    height: 20px;
    color: #14214e;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
:local(a) {
    width: 169px;
    height: 68px;
    color: #707070;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 24px;
}

:local(span) {
    width: 169px;
    height: 68px;
    color: #707070;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 24px;
    display: table-row-group;
}

:local(.container2) {
    position: absolute;
    padding: 0 0 0 30%;
}
:local(.outline) {
    width: 391px;
    height: 24px;
    color: #707070;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 24px;
}
:local(img) {
    padding-right: 10px;
}
